In [3]:
l=[1,2,3,4,5]
l1=[6,7,8,9,10]
list(map(lambda x , y : x+y, l,l1))

[7, 9, 11, 13, 15]

In [5]:
#Q1. Create a python program to sort the given list of tuples based on integer value using a
#[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]


l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l2=[]
l.sort(key = lambda x: x[1])
print(l)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [6]:
#Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


# USING MAP MAP FUNCTION
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def square(i):
    return i**2
a=list(map(square,l))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
# USING LANBDA FUNCTION
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=list(map(lambda x: x ** 2, l))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
#Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
#lambda functions
#Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=tuple(map(lambda x:str(x),list))
print(a)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [7]:
#Q4.Write a python program using reduce function to compute the product of a list containing numbers
 #from 1 to 25.
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]  
from functools import reduce
reduce(lambda x,y:x*y,l)

15511210043330985984000000

In [8]:
#Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
#filter function.
#[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x:(x%2==0 and x%3==0),l))

[6, 60, 90, 120]

In [23]:
#Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
#['python', 'php', 'aba', 'radar', 'level']
texts=['python', 'php', 'aba', 'radar', 'level']
result = list(filter(lambda x: (x == "".join(reversed(x))), texts))
print(result)

['php', 'aba', 'radar', 'level']